**Set up the libraries**

In [ ]:
import pandas as pd

**Creating a table using Pandas dataframe**

In [17]:
df = pd.DataFrame({
    'Region':['Northeast','Midwest','South','West'],
    '2023':[12530000, 9820000, 14200000, 11340000],
    '2024':[13480000, 10050000, 15120000, 12310000]
})
df['delta']=df['2024']-df['2023']
df['pct']=df['delta']/df['2023']
df

      Region      2023      2024   delta       pct
0  Northeast  12530000  13480000  950000  0.075818
1    Midwest   9820000  10050000  230000  0.023422
2      South  14200000  15120000  920000  0.064789
3       West  11340000  12310000  970000  0.085538

**Format/Style the table with numbers, alignment, and decimal numbers**

In [1]:
df = pd.DataFrame({
    'Region':['Northeast','Midwest','South','West'],
    '2023':[12_530_000, 9_820_000, 14_200_000, 11_340_000],
    '2024':[13_480_000, 10_050_000, 15_120_000, 12_310_000]
})
df['Δ'] = df['2024'] - df['2023']
df['% Change'] = df['Δ'] / df['2023']
df = df.sort_values('2024', ascending=False).reset_index(drop=True)
styled = (
    df.style
    .format({'2023':'{:,.0f}', '2024':'{:,.0f}', 'Δ':'{:+,.0f}', '% Change':'{:+.1%}'})
    .set_caption('Regional Sales, 2023–2024')
    .set_table_styles([
        {"selector":"th", "props":[("text-align","center")]},
        {"selector":"td", "props":[("text-align","right")]}
    ])
)
styled

**Use Unicode  for special characters, e.g., '\u0394' for Δ and  '\u03b1' for α**

In [5]:
import pandas as pd
df = pd.DataFrame({
    'Region':['Northeast','Midwest','South','West'],
    '2023':[12_530_000, 9_820_000, 14_200_000, 11_340_000],
    '2024':[13_480_000, 10_050_000, 15_120_000, 12_310_000]
})


df['\u03b1'] = df['2024'] - df['2023']
df['% Change'] = df['\u03b1'] / df['2023']
df = df.sort_values('2024', ascending=False).reset_index(drop=True)

##Take a look at the table before styling
print(df.head())
styled = (
    df.style
    .format({'2023':'{:,.0f}', '2024':'{:,.0f}', r'\u03b1':'{:+,.0f}', '% Change':'{:+.1%}'})
    .set_caption('Regional Sales, 2023–2024')
    .set_table_styles([
        {"selector":"th", "props":[("text-align","center")]},
        {"selector":"td", "props":[("text-align","right")]}
    ])
)
styled

      Region      2023      2024       α  % Change
0      South  14200000  15120000  920000  0.064789
1  Northeast  12530000  13480000  950000  0.075818
2       West  11340000  12310000  970000  0.085538
3    Midwest   9820000  10050000  230000  0.023422

**Finally, We can apply different color for light zebra stripping effects on different table rows**

In [13]:
import pandas as pd
df = pd.DataFrame({
    'Region':['Northeast','Midwest','South','West'],
    '2023':[12_530_000, 9_820_000, 14_200_000, 11_340_000],
    '2024':[13_480_000, 10_050_000, 15_120_000, 12_310_000]
})


df['\u0394'] = df['2024'] - df['2023']
df['% Change'] = df['\u0394'] / df['2023']
df = df.sort_values('2024', ascending=False).reset_index(drop=True)

styled = (
    df.style
    .format({'2023':'{:,.0f}', '2024':'{:,.0f}', r'\u03b1':'{:+,.0f}', '% Change':'{:+.1%}'})
    .set_caption('Regional Sales, 2023–2024')
    .set_table_styles([
        {"selector":"th", "props":[("text-align","center")]},
        {"selector":"td", "props":[("text-align","right")]},
        {"selector":"tbody tr:nth-child(even)", "props":[("background-color", "green")]},
        ## you can apply color with transparency here.
        {"selector":"tbody tr:nth-child(odd)",  "props":[("background-color", "rgba(255, 255, 0, 0.8)")]}
    ])
)
styled